@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type:  none;
    margin: 0;
    padding:0;
} 

li {
    display: inline-block;
    

}

a{
    text-decoration-line:none;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: center;
    color:black
}   


.logo {
    height: 4em;
    float: left;
}

nav {
    background-color:bisque ;
    margin: 0;
    padding: 0;
}

h1.siteTitle {
    display:block ;
}

.logo-nav {
    width:30%;
    display:inline-block;
}
.site-title {
    width:40%;
    text-align:center;
    display:inline-block;
}

.main-content {
    width:80%;
    background-color:gold;
    height:100vh;
    margin:0 auto;
    
}
.main-video {
    float: right;
    width: 420px;
    height: 315px;
}